	*{
	font-size: 20px;
	}
	#menu {
		box-shadow:  0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	}
	.navbar-default {
		background-color: #458a94;
	}
	.menu-right{
		width: auto;
	}
	.navbar-toggle{
		background-color: white
	}
	nav li{
		padding:10px;
		margin-top:5px;
		background-color: #458a94;
		cursor: pointer;
		transition: all 0.2s;
	}
	nav li:hover {
		background-color: #458a94 ;
		color:black;
		
	}
	nav li a span{
		display: inline-block;
	  	position: relative;
	  	transition:all .5s;
	  	color:white;
	  	
	}
	nav li a span:hover{
		background-color: white;
		padding:10px;
		border-radius: 5px;
		color:black;
	}
	img {
		height:505px;
	}
	.abc{
		padding-bottom: 30px;
	}
	.button{
		border-radius: 5px;
		color: black;
		border: 1px solid black;
		font-size: 16px!important;
		background-color: white;
		transition: all 0.2s; /* chuyen dong moi tphan */
		cursor: pointer; /* hien thi con tro khi di chuyen vao tphan */
		margin:auto;
	}
	.button:hover {
	    background-color: black;
	    color: white;
	}
	.button span {
	  cursor: pointer;
	  display: inline-block;
	  position: relative;
	  transition: 0.5s;
	}
	button span:after {
	  content: '\00bb';
	  position: absolute;
	  opacity: 0;    /* hien thi cap do trong suot cua thanh phan */
	  top: 0;
	  right: -20px;
	  transition: 0.5s;
	}

	.button:hover span {
	  padding-right: 20px;
	}

	.button:hover span:after {
	  opacity: 1;
	  right: 0;
	}
	.name_img{
		background-color: black;
		position:absolute; /* xd vi tri trong tphan */
		left:20px;
		top:5px;
		color: #fff;
		border-radius: 3px;
		padding:2px;
	}
	.footer_end{
		background-color: #333333;
		color:white;
		font-family: 'Andika';
	}
	/* thong tin sinh vat */
	 .imge_a img {
		width:100%;
		height:auto;
		border-radius: 15px;
	}
	.bottom_a{
		padding-bottom: 55px
	}
	.imge_b{
		background-color: #B0E0E6;
		min-height:400px;
		border-radius: 15px;
	}
	.row .imge_b h3 {
		padding-bottom: 5px;
	}
	.footer_end h3  {
		font-weight: normal!important;
	}
	.icon-footer{
		font-size:50px;
		text-align: center;
	}
	.icon-footer a {
		-webkit-transition: 0.5s;
		-moz-transition: 0.5s;
		-o-transition: 0.5s;
		transition: 0.5s;
	}
	.icon-footer a:hover, .icon-footer a:focus {
		text-decoration: none;
		-webkit-transform:scale(1.5);
		-moz-transform:scale(1.5);
		-ms-transform:scale(1.5);
		-o-transform:scale(1.5);
		transform:scale(1.5);
	}
	.go_up{
		position: fixed;
		margin:0 auto;
		bottom: 30px;
		right:10px;
		display:  none;
	}
	.thetop{
		padding:10px 15px 10px 15px;
		background-color: #b2b2b2;
		border-radius: 100%;
		text-align: center;
		cursor: pointer;
	}
